h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#button_92975f0 { vertical-align: bottom; border-radius: 16px; position:relative; display: inline-block; margin:4px 0px 0px 0px;width:120px; height:32px; background-color:rgba(255, 255, 255, 0.047059);  }
#button_92975f0:hover { background-color:rgba(0, 0, 0, 0.047059);  }
#button_92975f0:hover span { color:#A6BBE2; }
#button_4a4b29ab { vertical-align: bottom; border-radius: 16px; position:relative; display: inline-block; margin:4px 0px 0px 0px;width:120px; height:32px; background-color:rgba(255, 255, 255, 0.047059);  }
#button_4a4b29ab:hover { background-color:rgba(0, 0, 0, 0.047059);  }
#button_4a4b29ab:hover span { color:#658E49; }
#button_7d022765 { vertical-align: bottom; border-radius: 16px; position:relative; display: inline-block; margin:4px 0px 0px 0px;width:120px; height:32px; background-color:rgba(255, 255, 255, 0.047059);  }
#button_7d022765:hover { background-color:rgba(0, 0, 0, 0.047059);  }
#button_7d022765:hover span { color:#A6BBE2; }
#button_53fe67b0 { vertical-align: bottom; border-radius: 16px; position:relative; display: inline-block; margin:4px 0px 0px 0px;width:120px; height:32px; background-color:rgba(255, 255, 255, 0.047059);  }
#button_53fe67b0:hover { background-color:rgba(0, 0, 0, 0.047059);  }
#button_53fe67b0:hover span { color:#A6BBE2; }
#button_f7f118f { vertical-align: bottom; border-radius: 16px; position:relative; display: inline-block; margin:4px 0px 0px 0px;width:120px; height:32px; background-color:rgba(255, 255, 255, 0.047059);  }
#button_f7f118f:hover { background-color:rgba(0, 0, 0, 0.047059);  }
#button_f7f118f:hover span { color:#A6BBE2; }
#button_33c28df6 { vertical-align: bottom; border-radius: 16px; position:relative; display: inline-block; margin:4px 0px 0px 0px;width:172px; height:32px; background-color:rgba(255, 255, 255, 0.047059);  }
#button_33c28df6:hover { background-color:rgba(0, 0, 0, 0.047059);  }
#button_33c28df6:hover span { color:#C496F2; }
#button_76c03d5e { box-sizing: border-box; vertical-align: bottom; border-radius: 16px; position:relative; display: inline-block; margin:4px 0px 0px 0px;width:172px; height:32px; background-color:#E916BA; border: 2px solid #FFFFFF;  }
#button_76c03d5e:hover { background-color:#FFFFFF; border-color:#E916BA;  }
#button_76c03d5e:hover span { color:#808080; }
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_144c238e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:30px; background:none; box-shadow: 0px 0px 6px 0px rgba(64, 64, 64, 0.588235);  }
#container_144c238e_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:center; }
#container_569c0aec { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:30px; max-width:1400px; background:none;  }
#heading_5be0ad15 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; float:left; width:283px; background:none; border: 3px solid #808080; font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#808080; text-align:left;  }
#heading_5be0ad15_padding { margin: 5px 10px 5px 10px;display: block;  }
.textstyle3 { text-align:right; }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle4 { font-size:10pt; font-family:'Coco Gothic'; color:#A6BBE2; font-weight:bold;  }
.textstyle5 { font-size:10pt; font-family:'Coco Gothic'; color:#658E49; font-weight:bold;  }
.textstyle6 { font-size:10pt; font-family:'Coco Gothic'; color:#C496F2; font-weight:bold;  }
.textstyle7 { font-size:10pt; font-family:'Coco Gothic'; color:#FFFFFF; font-weight:bold;  }
#container_26f900e2 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; margin:5px 0px 0px 0px;width:100%; min-height:178px; background-color:#FFFFFF; background-image: url(rc_images/background_for_hero_new_1_1200x675.png); background-position:top left; background-size:cover; border: 2px solid #404040;  }
#container_26f900e2_padding { margin: 10px; display: block;  }
#heading_1fce3f8f { vertical-align: bottom; position:relative; display: inline-block; margin:40px 0px 0px 0px;background:none; font-size:48pt; font-family:'Coco Gothic'; color:#000000; text-align:left;  }
#container_4aba8bf3 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:735px; background:none;  }
#container_4aba8bf3_padding { margin: 10px; display: block;  }
#container_517c0d28 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:267px; background-color:#E9AF16;  }
#container_517c0d28_padding { margin: 10px; display: block;  }
.textstyle8 { font-size:12pt; font-family:'Coco Gothic'; color:#000000;  }
#img_95f5da2 { vertical-align: bottom; position:relative; display: inline-block; margin:-90px 0px 0px 0px;width:12%; background:none;  }
